:root {
  --darkBlue: hsl(208, 49%, 24%);
  --bodyText: hsl(207, 13%, 34%);
}

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

.grid-container-sec-3 {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 30px;
  position: relative;
  font-family: "Overpass";
  margin-top: 150px;
}

.section3-bg {
  background-color: #fff;
  padding: 120px 0;
  overflow: hidden;
}

.section3-title {
  display: flex;
  justify-content: center;
  color: var(--darkBlue);
  font-size: 30px;
  font-family: "Overpass";
}

.section3-subtitle {
  color: var(--darkBlue);
  font-weight: 600;
  font-size: 22px;
}

.section3-para {
  color: var(--bodyText);
  line-height: 2;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 60px;
}

.laptop-img {
  position: absolute;
  transform: translate(-39px, 45px) scale(2);
}

.text-column {
  padding-right: 120px;
}

@media screen and (max-width: 768px) {
  .grid-container-sec-3 {
    grid-template-columns: 100%;
    text-align: center;
  }
  .laptop-div {
    order: 1;
  }
  .text-column-3 {
    order: 2;
    padding-left: 0px;
  }
  .laptop-div {
    position: relative;
  }
  .laptop-img {
    position: relative;

    transform: translate(-20%, 10px);
  }
  .section3-subtitle {
    font-size: 2rem;
  }
  .section3-para {
    font-size: 1.1rem;
  }

  .text-column {
    padding-right: 0px;
    order: 2;
  }
  .section3-bg {
    padding: 0;
  }
}
