:root {
  --darkBlue: hsl(208, 49%, 24%);
  --bodyText: hsl(207, 13%, 34%);
}

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 30px;
  position: relative;
  font-family: "Overpass";
}

.section1-bg {
  background-color: #fff;
  padding: 120px 0;
  overflow: hidden;
}

.section1-title {
  display: flex;
  justify-content: center;
  color: var(--darkBlue);
  font-size: 30px;
  font-family: "Overpass";
}

.section1-subtitle {
  color: var(--darkBlue);
  font-weight: 600;
  font-size: 22px;
}

.section1-para {
  color: var(--bodyText);
  line-height: 2;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 60px;
}

.editor-div {
  margin-top: 0;
}

.editor-img {
  position: absolute;
  transform: translate(50px, -210px) scale(0.75);
}

.text-column-1 {
  padding-left: 120px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 100%;
    text-align: center;
  }
  .editor-div {
    order: 1;
  }
  .text-column-1 {
    order: 2;
    padding-left: 0px;
  }
  .editor-div {
    position: relative;
  }
  .editor-img {
    position: relative;
    height: 400px;
    transform: none;
  }
  .section1-subtitle {
    font-size: 2rem;
  }
  .section1-para {
    font-size: 1.1rem;
  }
  .section1-bg {
    margin-bottom: 100px;
  }
}
